<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row align-center">
      <div class="medium-6 columns">
        <% if notice.present? %>
        <div class="success callout" data-closable>
          <p> <%= notice %> </p>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <% end %>
        <% if alert.present? %>
        <div class="alert callout" data-closable>
          <p> <%= alert %> </p>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% end %>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
